extends base.pug

block scripts 
    script 
        include ../static/index.js 

block style 
    style 
        include ../static/style.css
        include ../static/styleAbout.css

block content 
    #aboutContainer 
        h1 akshaya paatra
        
        #firstSection
            h2 what is akshaya paatra?
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit necessitatibus architecto unde quae dolorem suscipit, cupiditate quaerat itaque sit tempore eveniet ea doloribus quibusdam molestias voluptatem, tempora quod soluta dolores! Dolor perferendis corporis voluptas deserunt, earum eligendi consequatur quia modi repellat illo deleniti dignissimos cumque ea quae at suscipit, nesciunt possimus placeat doloremque ad eveniet corrupti odio porro! Dolores sunt in magni quae incidunt voluptates consequatur repudiandae vitae reiciendis nesciunt esse vero omnis sequi, beatae porro. Aliquam quasi magnam nisi perferendis quam corporis expedita iste nobis recusandae aut minima sapiente blanditiis ea tenetur mollitia adipisci, reiciendis temporibus iusto. Labore, debitis!

        #secondSection
            h2 our beliefs 
            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi sunt nisi nulla eveniet optio soluta vitae? Eaque quia qui facilis iure accusamus nesciunt velit sint doloribus, suscipit fugit soluta sequi fugiat illo sit ipsum minus reiciendis dolores rem perferendis ratione, id atque alias accusantium! Quasi assumenda aut alias error corporis voluptatibus. Dolore maxime temporibus vero, iure quisquam cupiditate aut explicabo nemo harum? Animi harum odio iste modi, aliquam a nemo velit nihil fugit ipsa magnam. Eos voluptas debitis, cumque eveniet corporis tempora laboriosam quae repudiandae accusantium modi minima porro officia commodi deleniti odio aliquid! Sit inventore quia pariatur cupiditate consequatur? Sapiente nam dignissimos quaerat maxime ratione, adipisci veniam ipsum rem doloribus praesentium id libero ea harum possimus voluptatum at deleniti minus enim voluptas dolorum. Iusto odit expedita facilis? Dolorem fugit, dolores ut modi voluptates temporibus soluta et perferendis iusto accusamus tenetur dignissimos. Amet inventore magni ex accusantium tempora non culpa unde vero nemo pariatur excepturi optio fuga, ut aperiam deleniti asperiores molestiae dolor esse voluptatum necessitatibus minima quia ipsa consequatur! Id ducimus corrupti, dolorem obcaecati illo pariatur nisi quos quisquam ipsam consequatur ad harum ullam vel facilis voluptatibus incidunt fugiat, architecto perferendis rerum asperiores enim quam. Expedita nesciunt iste quae.

        #thirdSection
            h2 our mission 
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum impedit iusto explicabo dolorum quaerat, temporibus cupiditate odit ex recusandae perferendis voluptatem? Fugiat maiores adipisci asperiores harum consequatur, dolor aspernatur beatae sint tempora quia nesciunt repellat quo, corrupti quas at dolore earum vitae dolorum. Asperiores labore, suscipit perspiciatis porro itaque, laboriosam fugit nam assumenda sequi similique nisi facere minima totam, quaerat adipisci voluptas in autem inventore illo hic alias? Aut, esse, iure necessitatibus facilis dolor laboriosam quia exercitationem deserunt ab mollitia tempora officia porro eum. Quam enim harum, quae ex veniam corrupti accusamus nam dignissimos, nostrum beatae minus laborum perspiciatis distinctio repellendus ad. Facere asperiores alias, quibusdam delectus totam ipsam iure, laborum vitae similique laboriosam inventore numquam velit suscipit! Exercitationem enim itaque ad ipsam perferendis tempore eligendi maiores harum libero odit. Numquam assumenda placeat sed dolor laborum incidunt, dolorem fugit cumque deleniti nemo neque tempora enim non quis atque voluptates dignissimos?

        #endSection
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, iste, dicta sapiente rem illum saepe nostrum est impedit ducimus sit eveniet atque veritatis, ut obcaecati temporibus pariatur voluptatem recusandae aliquam fugiat nihil assumenda accusantium eius provident repellat. Nesciunt iure cumque soluta inventore vitae veritatis voluptates nam explicabo nihil, nostrum sint. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur qui cum labore, odit perferendis ipsum totam itaque magni ab soluta, dicta, similique architecto consequuntur! Dolorum laudantium optio laborum consequuntur amet!


        