extends base.pug

block scripts 
    script 
        include ../static/index.js

block style 
    style 
        include ../static/style.css
        include ../static/styleServices.css

block content 
    #serviceContainer 
        h1 Services 

        p#slogan Give us a try to make your special day more memorable...

        #marriage.outer 
            h2 marriage buffet 
            .inner    
                img(src="/static/images/marriage.jpg")
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi quod natus dolores ratione, eaque dolore doloribus tempore cupiditate exercitationem. Sunt veritatis quos consequatur praesentium neque maxime magnam totam? Totam pariatur aut vitae dolores cupiditate, possimus error. Consequuntur repudiandae, accusamus nesciunt dolore quae illum iusto quo itaque ab, molestiae tempore quibusdam, non modi! Voluptatum reiciendis ab corrupti dolores deleniti facilis voluptates odit amet delectus corporis eaque, nihil saepe dolore vitae blanditiis laboriosam tenetur perferendis aliquid harum? At ex molestias non eum qui, iure, ipsam obcaecati modi adipisci cum velit maiores nemo animi commodi hic accusantium! Incidunt voluptate accusantium voluptates molestias ut accusamus asperiores eligendi repudiandae minima! Dolorem quidem, inventore sapiente iusto placeat assumenda minima numquam qui perferendis voluptates aut vero quaerat nemo nobis aliquam quibusdam similique veniam illum. Temporibus aliquid reiciendis in. Maxime molestias tempore, ducimus numquam perspiciatis fugiat nihil. Sunt, ratione. Voluptatum, et vitae aperiam unde quas, facere harum distinctio id nulla voluptates mollitia? Ullam voluptate nesciunt in deleniti maiores quae. Officia explicabo accusamus incidunt vitae aspernatur corrupti alias repellat architecto quis, odit quia. Commodi maiores autem dignissimos incidunt! Ipsum quas in, iusto molestiae corporis accusamus hic placeat, eaque officiis vero quo dolores qui cupiditate dolorem id eveniet, ullam distinctio!

        #birthday.outer
            h2 birthday organiser 
            .inner
                img(src="/static/images/birthday.jpg")
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi adipisci ab eveniet ullam officia, placeat aspernatur eius magnam harum corrupti fugiat libero dolorum maiores id saepe sit architecto aut repellendus iste cumque. Voluptatibus ipsa eligendi ab optio asperiores minima fuga et, perferendis nisi sequi numquam quidem? Vero aperiam similique qui, quam veritatis adipisci cupiditate non repellat beatae sequi molestias sint nostrum nesciunt. Distinctio magnam impedit incidunt quis libero nesciunt atque quisquam a iure voluptatum! Expedita dolore consequuntur, soluta officia repudiandae quibusdam perferendis rerum rem molestiae dolorum quia unde tempora molestias autem est, voluptatem aliquam corrupti tenetur vitae nobis dolores ipsam omnis, eius possimus. Veniam illum doloremque dolorem, fuga quod amet obcaecati voluptates quis ipsam quaerat dolores perferendis ea. Amet debitis beatae voluptatem nesciunt aspernatur sapiente, ex hic excepturi quae perferendis, minus totam est eos nisi tenetur animi quis officia nihil error magni voluptatum ipsa cupiditate, natus officiis? Dolorem, sint delectus?

        #kitty.outer
            h2 kitty parties 
            .inner 
                img(src="/static/images/kitty.jpg")
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam eaque nemo soluta esse expedita, molestiae consequuntur, aspernatur unde nam fuga, voluptas recusandae architecto officiis minus quod ipsum asperiores neque sunt repudiandae. Obcaecati nostrum ducimus laborum ipsam nesciunt corrupti quos exercitationem, velit neque totam blanditiis id aspernatur ea voluptatem deserunt natus dicta accusantium facere, illum nobis tenetur? Numquam quis dicta sed, quasi quod repellat quae magnam nisi a quibusdam ducimus dolorem soluta quia deleniti voluptates fugiat adipisci temporibus! Minima, unde cumque repudiandae dolorem adipisci architecto esse error sapiente laborum, deleniti magni similique, soluta tempore iste obcaecati voluptas asperiores accusamus. Impedit, voluptatibus!
