#introSection::before{
    content: '';
    width: 100%;
    height: 709px;
    top: 63px;
    position: absolute;
    background: url(../static/images/introSection.jpg) no-repeat center center/cover;
    z-index: -1;
    opacity: 0.8;
}
#introSection{
    top: 70px;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    /* border: 2px solid black; */
    /* background-color: red; */
    height: 700px;
}
#introSection p{
    font-size: 92px;
    margin-top: 45px;
    margin-left: 170px;
    margin-bottom: 0px;
    font-weight: bold;
    color: white
}
#introSection small{
    color: #bdb9b9;
    margin: 0px auto;
    font-size: 15px;
    font-weight: bold
}

#cuisines{
    border: 2px solid black;
    height: 550px;
    background-color: rgb(29, 29, 29);
}

#cuisines h2{
    color: #ff6500;
    margin: 20px 10px;
    font-size: 55px;
    text-align: center;
}

#card-cuisines{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    margin: 5px 10px;
    height: 400px;
    width: 30%;
    border: 2px solid black;
    border-radius: 25px;
    background-color: black;
}
.card h3{
    color: #f44336;
    text-align: center;
    margin: 20px;
    font-size: 25px;
}
.card img{
    display: block;
    margin: 10px auto;
    height: 150px;
    width: 250px;
}
.card li{
    list-style: none;
    padding: 5px 15px;
    font-size: 20px;
    text-align: center;
    color: white;
}



